# vscode config
.vscode/

# build leftovers
build/
uniicorn
boot1-extract
*.o
*.obj
*.exe

# sensitive files
files/*.bin
files/*.bak
sram.bin
mem1.bin
boot1a.bin
boot1b.bin
boot1c.bin
boot1d.bin
*.log

# just in case
.DS_Store
.Spotlight-V100
.Trashes